/*-----------------navbar------------------*/

.navbar_top {
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: 0;
}

.navbar_top_links {
  display: flex;
  padding: 8px;
}

.navbar_top_links > div {
  margin: 0 20px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_top_links > div > a,
.navbar_bottom_p > p > span > a {
  text-decoration: none;
  color: #cad0d6;
  padding: 2px;
}

.navbar_bottom_p > p > span > a {
  color: white;
  padding: 0;
}

.navbar_bottom {
  display: block;
  height: 15vh;
  background-color: #e34140;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 19px;
}

/*-----------------main content------------------*/
.main-content {
  height: 330vh;
  display: grid;
  grid-template-rows: 3;
  /* row-gap: 10px; */
}

.main-content_top {
  overflow: hidden;
}
.column-hight {
  height: 100vh;
}

.first-row-link {
  overflow: hidden;
  background-color: #eeeffe;
}
.main_text {
  padding: 30px;
  display: grid;
  grid-template-rows: 3;
}

.main_text .text_paragraph > h1 {
  font-size: 70px;
  text-align: center;
  margin: 20px 8px 0 0;
}

.text_gift-img,
.text_shop-gifts {
  display: flex;
  justify-content: center;
}

.text_shop-gifts > a {
  font-size: 30px;
}

.text_shop-gifts > h4 {
  color: #0066cc;
  font-size: 28px;
  font-weight: lighter;
  margin: 10px;
}

.main_images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_images-grid {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.main_images-grid img {
  width: 380px;
  height: 380px;
}

/*----------------------middle row ------------------*/

.secound-row-link {
  text-decoration: none;
  color: black;
  background: url(/images/hero_iphone_13pro__dhnsegysa42u_large_2x.jpg)
    no-repeat center center/cover;
  width: 100%;
  height: 97%;
}

.iphone {
  font-size: 70px;
  margin: 0%;
  text-align: center;
}

.oh-so {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  margin: 5px;
}

.links {
  text-align: center;
  font-size: 26px;
}

.a-style {
  padding: 15px;
  text-decoration: none;
  color: #0066cc;
  font-weight: lighter;
}

.main-content_middle {
  padding-top: 70px;
}
/*-----------------------bottom row--------------------*/

.third-row-link {
  background: url(/images/hero_iphone_13__f194u1rdooeq_large_2x.jpg) no-repeat
    center center/cover;
  width: 100%;
  height: 97%;
  text-decoration: none;
  color: #f5f5f7;
}

.main-content_bottom .oh-so {
  color: #fdc1ea;
}

.main-content_bottom {
  padding-top: 70px;
}

/*-----------------------grid section--------------------*/

.grid-section {
  height: 300vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.grid-section > div {
  height: 100vh;
  border: 2px solid black;
}

.grid_img-cover {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.grid-section .img1 {
  background: url(/images/tile_macbookpro__cx0ur0qg9biq_large_2x.jpg) no-repeat
    center center/cover;
}

.grid-section .img2 {
  background: url(/images/tile_watch__e9n11b6m6yq2_large_2x.jpg) no-repeat
    center center/cover;
}

.grid-section .img3 {
  background: url(/images/tile_homepod_mini__b73w4z3ljymu_large_2x.jpg)
    no-repeat center center/cover;
}

.grid-section .img4 {
  background: url(/images/tile_lego_castaways__d2v36ez91ewm_large_2x.jpg)
    no-repeat center center/cover;
}

.grid-section .img5 {
  background: url(/images/tile__cauwwcyyn9hy_large_2x.jpg) no-repeat center
    center/cover;
}

.grid-section .img6 {
  background: url(/images/promo_dickinson__c9ea4l2f5rki_large_2x.jpg) no-repeat
    center center/cover;
}

.font-sizing_h1 {
  font-size: 50px;
}

.grid-section_item {
  margin-top: 100px;
}

.font-sizing_h2 {
  font-size: 30px;
  margin: 0;
}

.grid-section_item .links {
  margin: 13px;
  font-size: 22px;
}
