/*-----------------navbar------------------*/

.navbar_top {
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 51, 51);
  position: fixed;
  top: 0;
}

.navbar_top_links {
  display: flex;
  padding: 8px;
}

.navbar_top_links > div {
  margin: 0 20px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_top_links > div > a,
.navbar_bottom_p > p > span > a {
  text-decoration: none;
  color: #cad0d6;
  padding: 2px;
}

.navbar_bottom_p > p > span > a {
  color: white;
  padding: 0;
}

.navbar_bottom {
  display: block;
  height: 15vh;
  background-color: #e34140;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  font-size: 19px;
}

/*-----------------main content------------------*/
.main-content {
  height: 300vh;
  display: grid;
  grid-template-rows: 3;
  background-color: #eeeffe;
}

.column-hight {
  height: 100vh;
}

.main-content_top {
  border: 2px solid black;
}

.main_text {
  padding: 30px;
  display: grid;
  grid-template-rows: 3;
}

.main_text .text_paragraph > h1 {
  font-size: 70px;
  text-align: center;
  margin: 20px 8px 0 0;
}

.text_gift-img,
.text_shop-gifts {
  display: flex;
  justify-content: center;
}

.text_shop-gifts > a {
  font-size: 30px;
}

.text_shop-gifts > h4 {
  color: #0066cc;
  font-size: 28px;
  font-weight: lighter;
  margin: 10px;
}

.main_images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_images-grid {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.main_images-grid img {
  width: 380px;
  height: 380px;
}
